:root {
  --bg-light: #efefef;
  --bg-dark: #222;
  --text-light: #333;
  --text-dark: #eee;
  --accent: #ccc;
  --primary: #1f1f1f;
  --success: #4caf50;
  --error: #f44336;
  --warning: #ff9800;
  --info: #2196f3;
  --cream: #f6f4f2;
  --grey: #e0e0e0;
}
* {}
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-light) !important;
  color: var(--light);
}

#reload {
  position: fixed;
  top: 3px;
  left: 3px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  z-index: 100000000000000000000000000000;
  border-radius: 1000px;
}


.content {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#ping-text {
  position: fixed;
  top: 0;
  right: 0;
  padding: 6px;
  font-size: 10px;
  color: #fff;
  z-index: 1000000000;
}
#ping-counter {
  position: fixed;
  top: 14px;
  right: 0;
  padding: 6px;
  font-size: 8px;
  color: #fff;
  z-index: 1000000000;
  width: 30px;
  text-align: right;
}

/*camera content setting */
#camera-content, #face-content {
    width: clamp(250px, 100%, 500px);
    height: clamp(500px, 100%, 700px);
    border: 3px solid white;
    backdrop-filter: blur(3px);
    background: linear-gradient(45deg, #ffffff80, transparent);
    border-radius: 20px;
}
#camera-content h1 {z-index: 10;}
#camera-content video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#camera-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
#restart-scan-btn, 
#code-manual-btn {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 1000px;
  outline: 3px solid white;
  outline-offset: 5px;
  border: none;
  background: white;
  padding-top: 3px;
  z-index: 100; 
  color: darkcyan !important;
}
#cams-timeout-counter {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* scan-guide-line */
#face-guide-line {transform: translate(-50%, -90%) scale(1.15)!important;}
.scan-guide-line {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    aspect-ratio: 1;
}
.scan-guide-line .line {
    background: transparent !important;
    border-width: 2px !important;
    height: 100%;
    width: 100%;
    border-color:  inherit !important;
}
.ln1 {
    border-top-left-radius: 7px;
    border-top: 2px solid white;
    border-left: 2px solid white;
}
.ln2 {
    border-top-right-radius: 7px;
    border-top: 2px solid white;
    border-right: 2px solid white;
}
.ln3 {
    border-bottom-left-radius: 7px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}
.ln4 {
    border-bottom-right-radius: 7px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

#scan-warn {
  z-index: 1000;
  backdrop-filter: blur(5px);
}
#sc-warn-box {
  background: transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 200px;
}



#data-driver {
  height: 100%;
  width: 100%;
  transition: all .4s ease;
  position: absolute;
  bottom: 0 ;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.data-right {
  height: 100%;
  margin-top: 7px;
}
.data-left, .data-right {
  width: 100%;
}

.driver-img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
  position: relative;
  border: 4px solid white;
}

.data-left img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center ;
  width: 100%;
  height: 100%;
}
#data-driver span {
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 19px;
  padding: 0 0 3px;
  border-bottom: 1.3px dashed white;
  position: relative;
  font-size: 14px;
}

#data-driver span::after {
  content: attr(data-label) "";
  position: absolute;
  bottom: 100%;
  left: 0;
  font-size: 9px;
  font-weight: lighter;
  text-align: left;
}

#data-driver.shrink {
  height: 170px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#data-driver.shrink .data-left {
  width: 150px;
  height: 100%;
  padding: 0 !important;
  display: grid;
  place-items: center;
}
#data-driver.shrink .data-right {
  width: calc(100% - 160px);
  font-size: 16px;
  margin: auto 0;
  padding: 0 !important;
}






.bbm-type-btn {
  padding: 9px;
  width: 150px;
  text-align: center;
  border: 4px solid white;
  color: white;
  border-radius: 10px;
  transition:  all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.bbm-type-btn:hover,
.liter-count span:hover,
.liter-count span.chosen,
#bbm-chosen-liter.chosen,
#bbm-save,
#bbm-chosen-type {
  background: linear-gradient(45deg, white, lightgray);
  color: darkcyan;
    scale: 1.2;
    border-color: darkcyan;
    cursor: pointer;
}
.bbm-type-btn.denied {
    scale: .8;
    border-color: lightgray;
    color: lightgray;
}

.liter-count span {
    display: block;
    height: 40px;
    aspect-ratio: 1;
    border: 2.5px solid white;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 6px;
}

#the-chosen {
  bottom: 30px;
  left: 0;
}



/* scan Toast settings */
#toast {
  font-size: 12px;
  position: absolute;
  top: -40px;
  left: 50%;
  width: 300px;
  padding: 5px 10px;
  text-align: center;
  color: white;
  transition: all 0.3s ease;
  z-index: 100000 !important;
  transform: translateX(-50%);
}
#toast.show {
  top: 15px;
}
#toast.success { background-color: var(--success); }
#toast.error { background-color: var(--error); }
#toast.warning { background-color: var(--warning); }
#toast.info { background-color: var(--info); }


#verify div {
  width: 200px;
  padding: 30px 10px;
  border-radius: 7px;
}
#verify h4 {
  padding-top: 10px !important;
  width: 50%;
  margin: 10px auto !important;
}
#verify i{
  width: 70px;
  aspect-ratio: 1;
  background: transparent !important;
  border-radius: 1000px;
  border: 4px solid white;
}
#verify span {
  display: block;
  width: 100%;
}


#network {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 100000000;
  backdrop-filter: blur(4px);
}

.network-icon {
  scale: 1;
  border: 7px solid;
  border-radius: 10000px;
  width: 110px;
  aspect-ratio: 1;
  display: grid !important;
  place-items: center !important;
}

.network-icon::after {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-49%, -50%);
  color: inherit;
  font-size: 14px !important;
  font-weight: bolder;
  border: 3.5px solid;
  border-color:  inherit;
  border-radius: 10000000px;
  width: 20px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  background: #000;
  font-weight: bolder;
}

.online-icon::after {
  content: '✓';
}
.offline-icon::after {
  content: "x";
}


#face-vid-box {
    width: 100%;
    height: calc(100% - 180px);
    position: relative;
    overflow: hidden;
    border: 4px solid white;
    border-radius: 10px;
    background: linear-gradient(45deg, grey, transparent);
}
#face-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
#face-prev-box {
  position: absolute;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  scale: .95;
  overflow: hidden;
  border-radius: 13px;
  border: 3px solid whitesmoke;
  z-index: 4;
}
#face-preview {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.countdown-overlay {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 30px 50px;
  border-radius: 20px;
  z-index: 9999;
}

#capture-face {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  aspect-ratio: 1;
  border-radius: 1000px;
  outline: 4px solid white;
  color: white !important;
}

/* gradasi cahaya yang bergerak */
.skeleton-box {
    height: 100px;
    width: 60%;
}
.skeleton-box::after {
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 100%;
    transform: translateX(-150%);
    background: linear-gradient(
        90deg,
        rgba(224, 224, 224, 0) 0%,
        rgba(245, 245, 245, 0.6) 50%,
        rgba(224, 224, 224, 0) 100%
  );
    animation: shimmer 1.2s infinite;
}
@keyframes shimmer {
    100% {
        transform: translateX(150%);
    }
}

#unmatched-box, 
#matched-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: radial-gradient(white, rgba(255,255,255, .9), transparent);
}

#unmatched-box i, 
#matched-box i {
  font-size: 60px !important;
}


.alert {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
}
.alert-box {
  width: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 240px;
}
.alert-head {
  margin: 0 auto;
  padding: 0 !important;
  text-align: center;
  font-weight: bolder;
  width: fit-content;
  min-width: 65%;
}
.alert-text {
  font-size: 12px;
  padding: 0px;
  text-align: justify;
}



#capture-notif {
  backdrop-filter: blur(5px);
  z-index: 50;
}

#regis {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
}
#regis::placeholder {
  color: #1f1f1f;
}

#numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;
    width: fit-content;
}
.number {
    width: 40px;
    height: 40px;
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bolder;
}
input#liter {
    width: 140px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    margin: 20px auto;
    display: block;
    border: 3px solid #4CAF50;
    background-color: transparent;
    border-radius: 4px;
    outline: none;
}